{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        {% include 'blog/form_error.html' %}
    {% else %}
    <p>게시글 수정 페이지입니다.</p>
    <form method="post">
        {% csrf_token %} 

        <!-- {{ form.title.label_tag }} -->
        <span>제목</span>
        <input type="text" name="{{ form.title.name }}" id="" value="{{ form.initial.title }}">
        <br>
        <!-- {{ form.content.label_tag }} -->
        <span>내용</span>
        <textarea type="text" name="{{ form.content.name }}" id="">{{ form.initial.content }}</textarea>
        <br>
        <input type="submit" class="btn btn-light">
        <a href="{% url 'blog:list' %}" class="btn btn-light">목록</a>
    </form>
    {% endif %}
{% endblock %}